h1,
h5 {
  color: black;
  text-align: center;
}
h2 {
  font-size: 55px;
  color: black;
  text-align: center;
  margin: 0, 0;
}
#units {
  color: white;
  font-family: "Roboto", sans-serif;
  font-size: 15px;
  text-align: center;
}
#divider {
  color: blue;
}

.sun {
  font-size: 100px;
  color: rgb(209, 217, 224);
  text-align: center;
}
.symbol {
  text-align: center;
}
.search {
  margin: 0;
  display: inline-block;
  text-align: center;
}
p {
  text-align: center;
}
.day {
  font-weight: 500;
  font-size: 20px;
}
#current {
  background-color: #2369eb;
}
.github :hover {
  color: white;
}
body {
  background: linear-gradient(#4070c9, #9eb2da);
}
